body {
   font-family: Montserrat, sans-serif;
}

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;

   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.2);

   transition: scale var(--animation-time) var(--transition-timing-function);
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   padding-right: 20px;

   @media screen and (min-width: $mobile) {
      width: $mobile;
   }

   @media screen and (min-width: $tablet) {
      width: $tablet;
      padding-left: 32px;
      padding-right: 32px;
   }

   @media screen and (min-width: $desktop) {
      width: $desktop;
      padding-left: 16px;
      padding-right: 16px;
   }
}
