@mixin fonts($ff: Montserrat, $fw: 400, $fs: 14px, $lh: 16px, $ls: 0) {
   font-family: $ff;
   font-weight: $fw;
   font-size: $fs;
   line-height: calc($lh / $fs);
   letter-spacing: $ls;
}

@mixin margin-auto {
   margin: 0 auto;
}

@mixin flex($ai: center, $jc: center, $gap: 32px, $fd: row) {
   display: flex;
   align-items: $ai;
   justify-content: $jc;
   gap: $gap;
   flex-direction: $fd;
}

@mixin block(
   $w: 100px,
   $h: auto,
   $radius: 0,
   $border: 0,
   $shadow: 0,
   $bg: transparent
) {
   width: $w;
   height: $h;
   border-radius: $radius;
   border: $border;
   box-shadow: $shadow;
   background: $bg;
}

@mixin centerAbsolute($top: 50%, $left: 50%, $transX: -50%, $transY: -50%) {
   position: absolute;
   top: $top;
   left: $left;
   transform: translate($transX, $transY);
}

.circle {
   border-radius: 50%;
   border: none;
   overflow: hidden;
}
