<div class="modal modal-content" data-modal-about>
   <button class="modal-btn" type="button" data-modal-about-close>
      <svg width="20" height="20">
         <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
   </button>
   <span class="modal-content__title">How it’s made?</span>
   <iframe src="https://www.youtube.com/embed/8WEMZ86Eho8?controls=0" class="modal-content__map"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
   <p class="modal-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et Lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>