<body>
    <section class="advantages__section">
        <div class="advantages__box">
            <ul class="advantages__list">
                <li class="advantages__item">
                    <svg class="advantages__icon" width="50" height="50">
                        <use href="../images/icons.svg#icon-cow">
                            <p class="advantages__text"><span>721</span><br>Aliquam ac dui vel dui vulputate consectetur. Mauris
                                massa.</p>
                        </use>
                    </svg>
                </li>
                <li class="advantages__item">
                    <svg class="advantages__icon" width="50" height="50">
                        <use href="../images/icons.svg#icon-weight">
                            <p class="advantages__text"><span>16kg</span><br>Aliquam ac dui vel dui vulputate consectetur. Mauris
                                massa.</p>
                        </use>
                    </svg>
                </li>
                <li class="advantages__item">
                    <svg class="advantages__icon" width="50" height="50">
                        <use href="../images/icons.svg#icon-ice-cream">
                            <p class="advantages__text"><span>84</span><br>Aliquam ac dui vel dui vulputate consectetur. Mauris
                                massa.</p>
                        </use>
                    </svg>
                </li>
            </ul>
        </div>
    </section>
</body>