<section class="advantages">
   <h2 class="visually-hidden">advantages</h2>
   <div class="container advantages__container">
      <ul class="advantages__list">
         <li class="advantages__item advantages__item--cow">
            <p class="advantages__info">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         </li>
         <li class="advantages__item advantages__item--weight">
            <p class="advantages__info">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui
               vulputate
               consectetur. Mauris
               massa.</p>
         </li>
         <li class="advantages__item advantages__item--icecream">
            <p class="advantages__info">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         </li>
      </ul>
   </div>
</section>