<!-- Цвета кнопок и состояния: 
желтый - Default
зеленый - hover
зеленая обводка и белый текст - focus
серый - disabled

На всех кнопках шрифт Montserrat SemiBold, 14 -->

<!-- кнопки для секції HERO -->
<button type="button" class="hero-btn-one">Products</button>

<button type="button" class="hero-btn-two">How it’s made?</button>

<button type="button" class="header-btn">Buy now</button>

<button type="button" class="advantages-btn">Read more</button>

<button type="button" class="contacts-btn-one">Our Locations</button>

<button type="button" class="contacts-btn-two">Franchise</button>
