<section class="customer-reviews">
   <div class="customer container" data-aos="fade-up">
      <div class="customer__card">
         <picture>
            <source media="(min-width:320px)" srcset="
               ./images/customer_review/img1d@1x.webp 1x,
               ./images/customer_review/img1d@2x.webp 2x
            " type="image/webp" />
            <source media="(min-width: )" srcset="
               ./images/customer_review/img1d@1x.jpg 1x,
               ./images/customer_review/img1d@2x.jpg 2x
            " type="image/jpg" />
            <img class="customer__card-img" src="./images/customer_review/img1d@1x.webp" alt="" width="85"
               height="85" />
         </picture>
         <div class="customer__card-reviews">
            <p class="customer__card-text">
               I love visiting your cafe. You prepare the most delicious ice cream
               in Los Angeles! In addition, you have beautiful serving, cozy
               atmosphere and polite staff.
            </p>
         </div>
         <p class="customer__card-signature">Emily, Los Angeles</p>
      </div>
      <div class="customer__card">
         <picture>
            <source media="(min-width: )" srcset="
               ./images/customer_review/img2d@1x.webp 1x,
               ./images/customer_review/img2d@2x.webp 2x
            " type="image/webp" />
            <source media="(min-width: )" srcset="
               ./images/customer_review/img2d@1x.jpg 1x,
               ./images/customer_review/img2d@2x.jpg 2x
            " type="image/jpg" />
            <img class="customer__card-img" src="./images/customer_review/img2d@1x.webp" alt="" width="85"
               height="85" />
         </picture>
         <div class="customer__card-reviews">
            <p class="customer__card-text">
               I love eating popsicles on a hot day. Yours is always delicious. I
               recommend your cafe to everyone I know.
            </p>
         </div>
         <p class="customer__card-signature">Sam, Los Angeles</p>
      </div>
      <div class="customer__card">
         <picture>
            <source media="(min-width: )" srcset="
               ./images/customer_review/img3d@1x.webp 1x,
               ./images/customer_review/img2d@2x.webp 2x
            " type="image/webp" />
            <source media="(min-width: )" srcset="
               ./images/customer_review/img3d@1x.jpg 1x,
               ./images/customer_review/img3d@2x.jpg 2x
            " type="image/jpg" />
            <img class="customer__card-img" src="./images/customer_review/img3d@1x.webp" alt="" width="85"
               height="85" />
         </picture>
         <div class="customer__card-reviews">
            <p class="customer__card-text">
               Ice cream is my passion! I love your chocolate hazelnut ice cream!
               And I really like the excellent service - always served politely and
               quickly!
            </p>
         </div>
         <p class="customer__card-signature">Diana, Chicago</p>
      </div>
      <div class="customer__card">
         <picture>
            <source media="(min-width: )" srcset="
               ./images/customer_review/img4d@1x.webp 1x,
               ./images/customer_review/img4d@2x.webp 2x
            " type="image/webp" />
            <source media="(min-width: )" srcset="
               ./images/customer_review/img4d@1x.jpg 1x,
               ./images/customer_review/img4d@2x.jpg 2x
            " type="image/jpg" />

            <img class="customer__card-img" src="./images/customer_review/img4d@1x.webp" alt="" width="85"
               height="85" />
         </picture>
         <div class="customer__card-reviews">
            <p class="customer__card-text">
               Every day we come to you with friends after classes in college. We
               love your ice cream and casual atmosphere!
            </p>
         </div>
         <p class="customer__card-signature">Bryan, New-York</p>
      </div>
   </div>