	<footer class="footer">
   <div class="footer__wrapper">
      <h2 class="footer-wrapper__title">homemade ice cream made</h2>
      <p class="footer-wrapper__subtitle">with passion</p>
   </div>
   <div class="footer-wrapper__socials">
      <ul class="footer-wrapper__list">
         <li class="footer-wrapper__item">
            <a
               class="footer-socials__link"
               href="http://github.com"
               target="_blank"
               aria-label="github"
            >
               <svg class="footer-socials__icon" width="32" height="32">
                  <use href="../images/icons.svg#icon-github-default"></use>
               </svg>
            </a>
         </li>
         <li class="footer-wrapper__item">
            <a
               class="footer-socials__link"
               href="https://web.telegram.org/z/"
               target="_blank"
               aria-label="telegram"
            >
               <svg class="footer-socials__icon" width="32" height="32">
                  <use href="../images/icons.svg#icon-telegram-default"></use>
               </svg>
            </a>
         </li>
         <li class="footer-wrapper__item">
            <a
               class="footer-socials__link"
               href="https://www.facebook.com/"
               target="_blank"
               aria-label="facebook"
            >
               <svg class="footer-socials__icon" width="32" height="32">
                  <use href="../images/icons.svg#icon-facebook-default"></use>
               </svg>
            </a>
         </li>
      </ul>
   </div>
   <div class="footer__address">
      <p class="footer-address__subtitle">Feel free to contact</p>
      <a class="footer-address__link" href="tel:+61(0)383766284">+61(0)383766284</a>
   </div>
	<div class="footer_copyright">© 2022 - IceCream. All Rights Reserved.</div>
</footer>