<header class="container header">
   <a href="" class="logo">
      <img src="./images/header/logo.png" alt="логотип компанії" class="logo__img">
   </a>
   <nav class="nav">
       <ul class="nav__list">
           <li class="nav__item"><a href="" class="nav__link">Home</a></li>
           <li class="nav__item"><a href="" class="nav__link">How it’s made?</a></li>
           <li class="nav__item"><a href="" class="nav__link">Our products</a></li>
           <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
        </ul>
        <button type="button" class="btn-menu">
            <svg width="32" height="32">
                <use href="./images/icons.svg#icon-menu-open"></use>
                <use href="./images/icons.svg#icon-menu-close"></use>
            </svg>
        </button>
        <button type="button" class="btn__modal">Buy now</button>
   </nav>
   <button type="button" class="btn__modal">Buy now</button>
</header>

<!-- hero -->
<main>
   <section class="container hero">
        <div class="hero__positions">
            <div class="hero__info">
                <h1 class="hero__title">ice cream made with <span>passion</span></h1>

                <ul class="hero__list-anchor">
                    <li class="hero__item-anchor">
                        <a href="" class="hero__link">Products</a>
                    </li>
                    <li class="hero__item-anchor">
                        <a href="" class="hero__link">How it’s made?</a>
                    </li>
                </ul>
            </div>

        <div class="hero__lorem-ipsum">
            <picture class="hero__img">
            <!-- desc -->
            <source srcset="
                ./images/header/img2d@1x.webp    1x,
                ./images/header/img2d@2x.webp    2x
                  " type="image/webp" media="(min-width: 1200px)">
            <source srcset="
                ./images/header/img2d@1x.jpg    1x,
                ./images/header/img2d@2x.jpg    2x
                  " type="image/jpeg" media="(min-width: 1200px)">
            <!-- tablet -->
            <source srcset="
                ./images/header/img2t@1x.webp    1x,
                ./images/header/img2t@2x.webp    2x
                  " type="image/webp" media="(min-width: 768px)">
            <source srcset="
                ./images/header/img2t@1x.jpg    1x,
                ./images/header/img2t@2x.jpg    2x
                  " type="image/jpeg" media="(max-width: 1199px)">
            <img src="./images/header/img2t@1x.jpg" alt="тарілка з (кульковим морозивом * 9)">
            </picture>
            <div class="hero__lorem">
                <p class="hero__exscerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
                <svg class="hero__arrow" height="16" width="40">
                    <use href="./images/icons.svg#icon-arrow-default" class="hero__arrow-use"></use>
                </svg>
            </div>
         
            </div>
        </div>
        <div class="hero__company-info">
            <picture class="hero__img-animation">
            <!-- desc -->
            <source srcset="
                ./images/header/img1d@1x.webp    1x,
                ./images/header/img1d@2x.webp    2x
                  " type="image/webp" media="(min-width: 1200px)">
            <source srcset="
                ./images/header/img1d@1x.jpg    1x,
                ./images/header/img1d@2x.jpg    2x
                  " type="image/jpeg" media="(min-width: 1200px)">
            <!-- tablet -->
            <source srcset="
                ./images/header/img1t@1x.webp    1x,
                ./images/header/img1t@2x.webp    2x
                  " type="image/webp" media="(min-width: 768px)">
            <source srcset="
                ./images/header/img1t@1x.jpg    1x,
                ./images/header/img1t@2x.jpg    2x
                  " type="image/jpeg" media="(min-width: 768px)">
            <!-- mobile -->
            <source srcset="
                ./images/header/img1m@1x.webp    1x,
                ./images/header/img1m@2x.webp    2x
                  " type="image/webp" media="(max-width: 767px)">
            <source srcset="
                ./images/header/img1m@1x.jpg    1x,
                ./images/header/img1m@2x.jpg    2x
                  " type="image/jpeg" media="(max-width: 767px)">
            <img src="./images/header/img1m@1x.jpg" alt="упоротий змій-морозинич">
            </picture>

            <!-- <div class="hero__cafe-info"> -->
            <ul class="hero__list-cafe">
                <li class="hero__item-cafe">
                    <p class="hero__text"><span class="hero__numbers">16</span><br>cafes</p>
                </li>
                <li class="hero__item-cafe">
                    <p class="hero__text"><span class="hero__numbers">23</span><br>food trucks</p>
                </li>
            </ul>
         <!-- </div> -->
        </div>
   </section>