<div class="modal modal-ingridients visually-hidden" data-modal-products>
   <button class="modal-btn" type="button" data-modal-products-close>
      <svg width="20" height="20">
         <use href="./images/icons.svg#icon-menu-close"></use>
      </svg>
   </button>
   <p class="modal-ingridients__title">Chololate icecream</p>
   <div class="modal-ingridients__wrapper">
      <div class="modal-ingridients__image-element"></div>
      <picture>
         <source
            srcset="./images/product_modal_buy_now/img4m@1x.webp 1x, ./images/product_modal_buy_now/img4m@2x.webp 2x"
            type="image/webp">
         <source srcset="./images/product_modal_buy_now/img4m@1x.jpg 1x, ./images/product_modal_buy_now/img4m@2x.jpg 2x"
            type="image/jpg">
         <source media="(min-width: 768px)"
            srcset="./images/product_modal_buy_now/img4d@1x.webp 1x, ./images/product_modal_buy_now/img4d@2x.webp 2x"
            type="image/webp">
         <source media="(min-width: 768px)"
            srcset="./images/product_modal_buy_now/img4d@1x.jpg 1x, ./images/product_modal_buy_now/img4d@2x.jpg 2x"
            type="image/jpg">
         <img src="./images/product_modal_buy_now/img4m@2x.webp" alt="" class="modal-ingridients__image">
      </picture>
   </div>
   <ul class="modal-ingridients__list-kkl">
      <li class="modal-ingridients__list-kkl-item">
         <div class="modal-ingridients__element-kkl">320</div><span class="modal-ingridients__kkl-span">kcal</span>
      </li>
      <li class="modal-ingridients__list-kkl-item">
         <div class="modal-ingridients__element-kkl">4g</div><span class="modal-ingridients__kkl-span">Prote...</span>
      </li>
      <li class="modal-ingridients__list-kkl-item">
         <div class="modal-ingridients__element-kkl">8,2g</div><span class="modal-ingridients__kkl-span">Fats</span>
      </li>
      <li class="modal-ingridients__list-kkl-item">
         <div class="modal-ingridients__element-kkl">40,4g</div><span class="modal-ingridients__kkl-span">Carbs</span>
      </li>
   </ul>
   <p class="modal-ingridients__subtitle">Ingredients</p>
   <ul class="modal-ingridients__ingridients-list">
      <li class="modal-ingridients__item-ingridients">
         <span class="modal-ingridients__list-ingridients-span">
            Milk
         </span>
         <span class="modal-ingridients__list-ingridients-span">
            100ml
         </span>
      </li>
      <li class="modal-ingridients__item-ingridients">
         <span class="modal-ingridients__list-ingridients-span">
            Belgian chocolate
         </span>
         <span class="modal-ingridients__list-ingridients-span">
            20g
         </span>
      </li>
      <li class="modal-ingridients__item-ingridients">
         <span class="modal-ingridients__list-ingridients-span">Cream
         </span>
         <span class="modal-ingridients__list-ingridients-span">150 ml
         </span>
      </li>
      <li class="modal-ingridients__item-ingridients">
         <span class="modal-ingridients__list-ingridients-span">Cocoa powder
         </span>
         <span class="modal-ingridients__list-ingridients-span">30g
         </span>
      </li>
      <li class="modal-ingridients__item-ingridients">
         <span class="modal-ingridients__list-ingridients-span">Sugar
         </span>
         <span class="modal-ingridients__list-ingridients-span">40g
         </span>
      </li>
      <li class="modal-ingridients__item-ingridients">
         <span class="modal-ingridients__list-ingridients-span">Vanilla sugar
         </span>
         <span class="modal-ingridients__list-ingridients-span">10g
         </span>
      </li>
   </ul>
   <form action="" class="modal-ingridients__form">
      <label for="" class="modal-ingridients__label">
         <input type="text" class="modal-ingridients__input" placeholder="Name" required>
      </label>
      <label for="" class="modal-ingridients__label">
         <input type="tel" class="modal-ingridients__input" placeholder="Phone" required>
      </label>
      <label for="" class="modal-ingridients__label">
         <textarea type="text" class="modal-ingridients__input modal-ingridients__textarea"
            placeholder="Comment"></textarea>
      </label>
      <button type="submit" class="submit-btn ">Submit</button>
   </form>
</div>