<article class="products">


    <!--  Products title -->

    <span> 100% natural </span>
    <h2 class="products__title" id="products">Products</h2>



    <!-- Products card-set -->

    <ul class="products__list">
        <li class="products__item">
            <h3 class="products__name">ice cream</h3>
            <p class="products__description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                natural
                stabilizer</p>
            <a class="products__link" href="./products-modal.html">
                <svg class="product__icon" width="40" height="16">
                    <use href="../images/icons.svg#icon-arrow-default"></use>
                </svg>
            </a>
        </li>

        <li class="products__item">
            <h3 class="products__name">ice coffee</h3>
            <p class="products__description">Fragrant invigorating drink created from 100% natural ingredients
                without
                the
                use of preservatives and flavor enhancers</p>
            <a class="products__link" href="./products-modal.html">
                <!-- Вот тут добавляю svg - пропадает с разметки 3тий элемент списка.. Понять не могу почему ! -->
                <svg class="product__icon" width="40" height="16">
                    <use href="../images/icons.svg#icon-arrow-default"></use>
                </svg>
            </a>
        </li>

        <li class="products__item">
            <h3 class="products__name">milkshakes</h3>
            <p class="products__description">Sweet drinks based on milk and ice cream, supplemented with syrups,
                fruits,
                berries and other sweets of your choice
            </p>
            <a class="products__link" href="./products-modal.html">
                <svg class="product__icon" width="40" height="16">
                    <use href="../images/icons.svg#icon-arrow-default"></use>
                </svg>
            </a>
        </li>

    </ul>
</article>

<!-- End products -->