<article class="products">


    <!--  Products title -->

    <span> 100% natural </span>
    <h2 class="products__title" id="products">Products</h2>



    <!-- Products card-set -->

    <ul class="products__list">
        <li class="products__item">
            <h3 class="products__name">ice cream</h3>
            <p class="products__description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                natural
                stabilizer</p>
            <!-- Open modal -->
            <button type="button" class="btn__modal">arrow</button>
        </li>

        <li class="products__item">
            <h3 class="products__name">ice coffee</h3>
            <p class="products__description">Fragrant invigorating drink created from 100% natural ingredients
                without
                the
                use of preservatives and flavor enhancers</p>
            <!-- Open modal -->
            <button type="button" class="btn__modal">arrow</button>
        </li>

        <li class="products__item">
            <h3 class="products__name">milkshakes</h3>
            <p class="products__description">Sweet drinks based on milk and ice cream, supplemented with syrups,
                fruits,
                berries and other sweets of your choice
            </p>
            <!-- Open modal -->
            <button type="button" class="btn__modal">arrow</button>
        </li>

    </ul>
</article>

<!-- End products -->