<article class="products">

    <div class="container products__wrapper">
        <!--  Products title -->

        <span> 100% natural </span>
        <h2 class="products__title" id="products">Products</h2>



        <!-- Products card-set -->

        <ul class="products__list">
            <li class="products__item">
                <h3 class="products__name">ice cream</h3>
                <p class="products__description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                    natural
                    stabilizer</p>
                <!-- Open modal -->
                <button type="button" class="products__btn">
                    <svg class="btn__products-icon btn__products-icon--default" width="40" height="15">
                        <use class="default" href="./images/icons.svg#icon-arrow-default"></use>
                    </svg>

                    <svg class="btn__products-icon btn__products-icon--hover" width="50" height="15">
                        <use class="hover" href="./images/icons.svg#icon-arrow-hover"></use>
                    </svg>
                    <svg class="btn__products-icon btn__products-icon--focus" width="50" height="15">
                        <use class="focus" href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>

                </button>
            </li>

            <li class="products__item">
                <h3 class="products__name">ice coffee</h3>
                <p class="products__description">Fragrant invigorating drink created from 100% natural ingredients
                    without
                    the
                    use of preservatives and flavor enhancers</p>
                <!-- Open modal -->
                <button type="button" class="products__btn">
                    <svg class="btn__products-icon btn__products-icon--default" width="40" height="15">
                        <use class="default" href="./images/icons.svg#icon-arrow-default"></use>
                    </svg>

                    <svg class="btn__products-icon btn__products-icon--hover" width="50" height="15">
                        <use class="hover" href="./images/icons.svg#icon-arrow-hover"></use>
                    </svg>
                    <svg class="btn__products-icon btn__products-icon--focus" width="50" height="15">
                        <use class="focus" href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>

                </button>
            </li>

            <li class="products__item">
                <h3 class="products__name">milkshakes</h3>
                <p class="products__description">Sweet drinks based on milk and ice cream, supplemented with syrups,
                    fruits,
                    berries and other sweets of your choice
                </p>
                <!-- Open modal -->
                <button type="button" class="products__btn">
                    <svg class="btn__products-icon btn__products-icon--default" width="40" height="15">
                        <use class="default" href="./images/icons.svg#icon-arrow-default"></use>
                    </svg>

                    <svg class="btn__products-icon btn__products-icon--hover" width="50" height="15">
                        <use class="hover" href="./images/icons.svg#icon-arrow-hover"></use>
                    </svg>
                    <svg class="btn__products-icon btn__products-icon--focus" width="50" height="15">
                        <use class="focus" href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>

                </button>
            </li>
    </div>
    </ul>
</article>

<!-- End products -->