.container {
   padding-left: 20px;
   padding-right: 20px;
}

.footer {
   @include tablet() {
      flex-direction: column;
   }
}

.footer__wrapper {
   margin-right: auto;
   margin-bottom: 42px;

   @include tablet() {
   }

   @include desktop() {
      width: 504px;
   }
}

.footer__wrapper-title {
   @include fonts($fw: 700, $fs: 18px, $lh: 22px);
   color: getColor('txt-white');
   margin-bottom: 16px;
   width: 232px;

   @include tablet() {
      @include fonts($fw: 700, $fs: 26px, $lh: 32px, $ls: 0.04em);
      margin-bottom: 9px;
      width: 352px;
   }

   @include desktop() {
      @include fonts($fs: 30px, $lh: 37px, $ls: 0.04em);
      width: 504px;
      margin-bottom: 14px;
   }
}

.footer__wrapper-subtitle {
   width: 200px;
   @include fonts($fw: 700, $fs: 34px, $lh: 41px, $ls: 0.04em);

   @include tablet() {
      @include fonts($fw: 700, $fs: 48px, $lh: 59px, $ls: 0.06em);
      width: 340px;
      }

   @include desktop() {
      @include fonts($fw: 700, $fs: 58px, $lh: 71px, $ls: 0.06em);
      width: 501px;
   }
}

.footer__wrapper-socials {
   margin-bottom: 38px;
}

.footer__wrapper-list {
   display: flex;
   justify-content: flex-end;
   gap: 20px;

   @include tablet() {
   }
}

.footer__address {
   display: flex;
   justify-content: center;
   width: 244px;
   margin-left: auto;
   margin-bottom: 40px;

   @include tablet() {
      width: 300px;
   }

   @include desktop() {
      width: 340px;
   }
}

.footer__address-subtitle {
   @include fonts($fw: 700, $fs: 12px, $lh: 22.32px, $ls: 0.04em);
   color: getColor('txt-black');

   @include tablet() {
      @include fonts($fw: 700, $fs: 14px, $lh: 26.04px, $ls: 0.06em);
   }

   @include desktop() {
      @include fonts($fw: 700, $fs: 16px, $lh: 29.76px, $ls: 0.02em);
   }
}

.footer__address-link {
   @include fonts($fw: 700, $fs: 12px, $lh: 22.32px, $ls: 0.04em);
   color: getColor('txt-white');

   @include tablet() {
      @include fonts($fw: 700, $fs: 14px, $lh: 26.04px, $ls: 0.06em);
   }

   @include desktop() {
      @include fonts($fw: 700, $fs: 16px, $lh: 29.76px, $ls: 0.02em);
   }
}

.footer__copyright {
   width: 100%;
   border-top: 1px solid #e1e1e1;

   @include tablet() {
      width: 100%;
   }
   @include desktop() {
      width: 1176px;
   }
}

.footer__copyright-subtitle {
   width: 150px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;

   @include fonts($fw: 700, $fs: 14px, $lh: 21.28px);
   color: getColor('footer-copyrights');

   @include tablet() {
      @include fonts($fw: 700, $fs: 14px, $lh: 26.04px, $ls: 0.02em);
      width: 300px;
      margin-left: auto;
      margin-right: auto;
   }

   @include desktop() {
      @include fonts($fw: 700, $fs: 12px, $lh: 22.32px, $ls: 0.02em);
      width: 255px;
   }
}
