.body--hidden {
    overflow: hidden;

    & header {
        position: absolute;
        width: 100%;
        height: 101%;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;

        visibility: visible;
        pointer-events: all;
        overflow: scroll;
        z-index: 1000;
        background-color: getColor('background');
    }

    & .hero__btn__modal {
        @include flex($gap: 7px);

        @include tablet() {
            display: none;
        }

        @include desktop() {
            display: none;
        }
    }

    & .hero__btn__modal-outside {
        display: none;
    }

    & .btn-menu {
        @include tablet {
            position: absolute;

        }
    }
}


.header {
    display: flex;
    justify-content: space-between;
    @include margin-auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    @include tablet {
        padding-top: 20px;
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
        padding: 0;
    }
}

.logo {
    margin-top: 12px;
    align-self: flex-start;

    @include tablet {
        margin-top: 0;
    }

    @include desktop {
        margin-top: 0;
    }
}

.logo__img {
    width: 41px;
    height: 37px;

    @include desktop {
        width: 60px;
        height: 65px;
    }
}

.nav.is-open {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav {
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    display: none;
    z-index: 1;

    @include tablet {
        margin-top: 70px;
    }

    @include desktop {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.hero__btn__modal {
    margin-top: auto;
    margin-bottom: 60px;
    margin-top: 32px;

    z-index: 2;

    @include desktop {
        display: none;
    }
}

.hero__btn__modal-outside {
    margin-top: auto;
    margin-bottom: auto;
    display: none;
    z-index: 2;

    @include tablet {
        display: block;
    }

    @include desktop {
        display: block;
    }
}

.nav__list {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @include tablet {
        gap: 40px;
    }

    @include desktop {
        flex-direction: row;
    }
}

.nav__item {
    display: flex;
    justify-content: center;

    @include tablet {
        justify-content: center;
    }
}

.nav__link {
    color: getColor('txt-white');
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    &:hover,
    &:focus {
        color: getColor(accent);
        transition: color $animation;
    }

    @include tablet {
        font-size: 48px;
        line-height: 59px;
    }

    @include desktop {
        font-size: 16px;
        line-height: 20px;
    }
}

.btn-menu {
    background-color: unset;
    width: 32px;
    height: 32px;
    z-index: 2;

    position: absolute;
    right: 20px;
    top: 16px;
    fill: getColor('txt-white');

    @include tablet {
        position: relative;
        right: 0;
        top: 0;
        margin-left: auto;
        margin-right: 32px;
    }

    &.is-open {
        right: 20px;
        top: 16px;
        margin-left: 0;
        margin-right: 0;
    }

    &.is-open .svg-open {
        display: none;
    }

    &.is-open .svg-close {
        display: block;
    }

    & .svg-close {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.btn-icon {
    width: 12px;
    height: 12px;
}


// hero 

.hero {
    @include margin-auto;
    display: flex;
    flex-direction: column;
    padding: 62px 20px 0;
    position: relative;

    background-image: url(../images/header/points__m.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @include tablet {
        flex-direction: row;
        padding-top: 28px;

        background-image: url(../images/header/points__t.png);
    }

    @include desktop {
        flex-direction: row;
        padding-top: 28px;

        background-image: url(../images/header/points__d.png);
    }


}

.hero__positions {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    margin-bottom: 65px;

    @include tablet {
        margin-bottom: 10px;
    }

    @include mobile {
        margin-bottom: -30px;
    }
}

.hero__info {
    margin-bottom: 28px;
}

.hero__title {
    @include fonts ($ff: Seymour One, $fs: 26px, $lh: 33px, $ls: 0.04em);
    text-transform: uppercase;

    & span {
        font-size: 34px;
    }

    @include tablet {
        width: 200px;

        font-size: 18px;
        line-height: 23px;

        & span {
            font-size: 24px;
        }
    }

    @include desktop {
        width: 370px;
        font-size: 38px;
        line-height: 48px;
    }
}

.hero__list-anchor {
    display: flex;
    gap: 8px;
    margin-top: 20px;

    @include mobile {
        margin-top: 32px;
    }

    @include desktop {
        margin-top: 28px;
    }
}

// lorem

.hero__lorem-ipsum {
    display: flex;
    flex-direction: row;

    @include mobile {
        display: none;
    }

    @include tablet {
        gap: 33px;
    }

    @include desktop {
        gap: 14px;
    }
}

.hero__img {
    display: inline-block;
}

.hero__exscerpt {
    @include fonts ($fs: 12px, $lh: 17px);
    width: 150px;
}

.hero__lorem {
    display: flex;
    align-items: center;
    position: relative;
}

.hero__arrow {
    position: absolute;
    bottom: 15px;
    fill: getColor(txt-white);

    @include desktop {
        bottom: 40px;
    }
}

// img hero

.hero__text {
    @include fonts ($fs: 8px, $lh: 10px);
    text-align: right;

    @include desktop {
        font-size: 14px;
        line-height: 17px;
    }
}

.hero__numbers {
    text-align: right;
    @include fonts ($fw: 900, $fs: 28px, $lh: 34px);
    color: getColor(txt-black);

    @include desktop {
        font-size: 46px;
        line-height: 56px;
    }
}

.hero__item-cafe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero__list-cafe {

    @include mobile {
        display: none;
    }

    @include tablet {}
}

.hero__company-info {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    position: relative;
}

.hero__img-animation {
    display: inline-block;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 0;

    @include tablet {
        width: 370px;
        position: absolute;
    }

    @include desktop {
        width: 620px;
        position: absolute;
    }
}

.hero__anchor-products {
    display: inline-block;
    padding: 6px 12px;

    border: 2px solid getColor(accent);
    border-radius: 8px;

    @include fonts ($fs: 8px, $lh: 10px, $fw: 600);
    color: getColor(txt-black);

    transition: color $animation, border-color $animation;

    &:hover {
        border: 2px solid getColor(btn-hover);
    }

    &:focus {
        border: 2px solid getColor(btn-hover);
        color: getColor(txt-white);

    }

    @include desktop {
        @include fonts ($fs: 14px, $lh: 18px, $fw: 600);
        padding: 12px 34px;
        border-radius: 10px;
    }
}

.hero__anchor-how {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: underline;

    @include fonts ($fs: 8px, $lh: 10px, $fw: 600);

    transition: color $animation;

    &:hover {
        color: getColor(btn-hover);
    }

    &:focus {
        color: getColor(txt-white);
    }

    @include desktop {
        @include fonts ($fs: 14px, $lh: 18px, $fw: 600);
        padding: 14px 34px;
    }
}

.hero__animate {
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}